body{
	background-color:#FF0000;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	color: #00FFFF;
	background-image: url("images/city.jpg");
	background-size: 100% 100%;
    background-repeat: no-repeat;
}

h1 {
	font-size: 1.3em;
	text-align: center;
}
a:link, a:visited {
    background-color: #105268;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


a:hover, a:active {
    color: yellow;
    background-color: blue;
}

table {
	
	width:80%;
	margin-left: 2px;
	margin-right: 2px;
	text-align: center;
	

}

td {
	vertical-align: middle;
}

tr {
	border: 1px solid #ffffff;
	text-align: center;
	background-color:#9FB6CD; 
}

th {
	text-align: center;
	color: #ffffff;
	background-color: #003366;
